@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Fontdiner+Swanky);

$title-font-stack: "Fontdiner Swanky", serif;


html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  background: rgba(255, 255, 0, 0.6);
  display: inline-block;
}

h1 {
  font-family: $title-font-stack;
}
